In [21]:
import pandas as pd
import os

In [28]:
filenames=os.listdir('CAPSTONE DATABASE/TB NEG/Rectified/')
# dataframe = pd.DataFrame()
tbneg1 = pd.read_csv("CAPSTONE DATABASE/TB NEG/Rectified/HC001.csv")
tbneg1.drop(tbneg1.columns[0:8], axis=1, inplace=True)
df1 = tbneg1.mean(axis = 0)
dataframe = pd.DataFrame(df1).transpose()
for i in range(len(filenames)-1):
    tbneg = pd.read_csv("CAPSTONE DATABASE/TB NEG/Rectified/"+filenames[i+1])
    tbneg.drop(tbneg.columns[0:8], axis=1, inplace=True)
    df = tbneg.mean(axis = 0)
    df_final = pd.DataFrame(df).transpose()
    dataframe.append(df_final)
    print(dataframe)

         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]
         S1        S2        S3        S4        S5        S6        S7  \
0  5.782133  2.769264  5.424219  4.843676  0.704096  0.342771  4.464379

         S8        S9       S10  ...       S23       S24       S25       S26  \
0  2.492446  1.606073  1.835967  ...  0.760718  2.138571  0.576764  1.967537

       S27       S28       S29       S30       S31       S32
0  0.27727  0.895345  1.020238  2.770343  0.466101  0.477085

[1 rows x 32 columns]

In [23]:
dataframe

,Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Ambient Temp [C],Therm1 [volts],Battery Raw Reading,Flag,S1,S2,...,S23,S24,S25,S26,S27,S28,S29,S30,S31,S32
0,163.480546,124.904437,0.0,0.0,34.950853,1.212013,4095.0,4.634812,5.782133,2.769264,...,0.760718,2.138571,0.576764,1.967537,0.27727,0.895345,1.020238,2.770343,0.466101,0.477085